.header-image{
  width: 100%;
  height:200px;
  object-fit: cover;
  display:block;
}

.place-card{
  background-color: rgb(176, 176, 238);
  border-radius: 15px;
  padding: 20px;
  width: 250px;

  display:flex;
  flex-direction: column;
}

.place-card img{
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.place-card a{
  background-color: rgb(43, 43, 128);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: auto;
}

.place-card a:hover{
  background-color: rgb(205, 151, 255);
  color: black;
}

.place-card:last-child{
  grid-column: 2;
}

.places-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 20px;
}

@media (max-width: 900px){
  .places-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .place-card:last-child{
    grid-column:auto;
  }
}

@media (max-width: 600px){
  .places-container{
    grid-template-columns: 1fr;
  }
  .place-card:last-child{
    grid-column:auto;
  }
}